
<h1>
	<%= "#{@user.username}'s Posts" %>
</h1>
<ul>
	<% if current_user and current_user != @user %>
		<div class="thingy">
			<% if current_user and current_user.following.include?(@user) %>
				<div class="unfollow">
					<li>
						<%= link_to 'Unfollow', unfollow_user_path(@user) %>
					</li>
				</div>
			<% else %>
				<div class="follow">
					<li>
						<%= link_to 'Follow', follow_user_path(@user) %>
					</li>
				</div>
			<% end %>
		</div>
	<% end %>
</ul>
<ul>
	<% @user_posts.reverse_each do |post| %>
		<h2>
			<%= link_to post.title, post_path(post.id) %>
		</h2>
		
		<p>
			<%= post.p_content %>
		</p>

		<ul>
			<li>
				<%= post.created_at %>
			</li>
		</ul>
	<% end %>
</ul>

