<h2>
	<%= link_to post.title, post_path(post.id) %>
</h2>

<p>
	<%= post.p_content %>
</p>

<ul>
	<li>
		<%= post.user.username %>
	</li>

	<li>
		<%= post.created_at %>
	</li>

		<% post.comments.reverse_each do |comment| %>
			<li>
				<%= comment.body %>
			</li>

			<li>
				<%= comment.user.username %>
			</li>

			<li>
				<%= comment.created_at %>
			</li>
		<% end %>
</ul>