<h1 class="div_titles">
	All posts
</h1>

<!-- form_for helper and arguments
 -->
<<<<<<< HEAD
<div class="posts_index">
<hr>
<% @posts.reverse_each do |post| %>
	<p class="user_post_title">
		<%= link_to post.title, post_path(post.id) %>
	</p>
		<p class="user_post_body">
			<%= post.p_content %>
			<span class="user_post_body"><%= post.user.username %>
			</span></p>
		<p class="user_post_time">
			<%= post.created_at %>
		</p>
		<hr>
		<br> <p>
			<% post.comments.reverse_each do |comment| %>
				
					<p><%= comment.body %><br>
					<%= comment.user.username %><br>
					<%= comment.created_at %><br>
				<% end %>
				</p>
			<% end %>
</div>

=======

 <h1>
	Add a post
</h1>

<%= form_for @post, remote: true do |post| %>

	<p>
		<%= post.label :title %>
		<%= post.text_field :title %>
	</p>

	<p>
		<%= post.label :post %>
		<%= post.text_area :p_content %>
	</p>

	<p>
		<%= post.submit %>
	</p>
<% end %>
<section id="posts_container">
	<% @posts.reverse_each do |post| %>
		<%= render partial: 'post', object: post %>
	<% end %>
</section>
>>>>>>> master
