<h1>
	All posts
</h1>

<%= form_for @post do |post| %>
	<p>
		<%= post.label :title %>
		<%= post.text_field :title %>
	</p>

	<p>
		<%= post.label :post %>
		<%= post.text_field :p_content %>
	</p>

	<p>
		<%= post.submit %>
	</p>
<% end %>

<% @posts.reverse_each do |post| %>
	<h2>
		<%= link_to post.title, post_path(post.id) %>
	</h2>

	<p>
		<%= post.p_content %>
	</p>

	<ul>
		<li>
			<%= post.user.username %>
		</li>
		
		<li>
			<%= post.created_at %>
		</li>
	</ul>
<% end %>