<div class="posts_show">
<h1>
<%= "#{@user.username}'s Posts" %>
</h1>

<h2 id="posts_show_title">
	<%= @post.title %>
</h2>
<p id="posts_show_body">
	<%= @post.p_content %>

</p>
</hr>
<div>

<% if current_user %>
	<%= link_to 'delete post?', user_post_path(@user.id), method: :delete %>
<% end %>


<hr>
<% if current_user %>
	<h5>
		Post a comment below!
	</h5>
	
	<%= form_for [@post, @comment] do |comment| %>
		<%= comment.text_area :body %>

		<p>
			<%= comment.submit %>
		</p>
	<% end %>
<% else %>
	<h5>
		<%= link_to 'Login', login_path %>to comment!
	</h5>
<% end %>

<% @post_com.each do |comment| %>
	<p>
		<%= comment.body %>
	</p>

	<ul>
		<li>
			<%= comment.user.username %>
		</li>

		<li>
			<%= comment.created_at %>
		</li>
	</ul>
<% end %>